<H1> <%=@customer.first_name%> <%= @customer.last_name %> </h1>
<p><%=@customer.address%><br><%=@customer.city %>, <%=@customer.state %> <%=@customer.zip_code %><p>
 <a data-confirm="Are you sure?" data-method="delete" href="<%= "/customers/#{@customer.id}"%>" rel="nofollow" class="btn btn-default" role="button">Delete</a>
