<!DOCTYPE html>
<html>
<head>
  <title>DashboardApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body> 
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
   <a class="navbar-brand" href="">Dash</a> 
  </div>
</nav>  
<div class="container">  
    <% flash.each do |name, message| %>

    <%= content_tag :div, message, class: "alert alert-#{name}" %>

    <% end %>
    <%= yield %>
</div>
</body>
</html>
