<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DashboardApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Random Company</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">myDashboard</a></li>
        <li><a href="/users/edit">Settings</a></li>
        <li><a href="/users/sign_out">Sign Out</a></li>
      </ul>
    </div>
  </div>
</div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> x Overview</a></li>
            <li><a href="/customers"><span class="glyphicon glyphicon-user"></span> Customers</a></li>
            <li><a href="/employees/"><span class="glyphicon glyphicon-user"></span> Employees</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/service_calls">Service Calls</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Invoices</a></li>
          </ul>
          <!-- <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul> -->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <% flash.each do |name, message| %>
            <%= content_tag :div, message, class: "alert alert-#{name}" %>
          <% end %>
          <%= yield %>
        </div>   
      </div>
    </div>
  </div> 
  
</body>
</html>
